* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(169, 228, 228);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.container .display {
  background-color: white;
  flex: 1 0 20%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding: 16px;
  font-size: 24px;
}

.buttons-container {
  flex: 1 80%;
  display: flex;
  flex-wrap: wrap;
}

.buttons-container button {
  flex: 1 25%;
}

.function-button {
  background-color: #dfdfdf;
}

button {
  border: none;
  outline: none;
  font-size: 20px;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 1;
}

#function-equal-button {
  color: white;
  background-color: rgb(70, 94, 201);
}
